<!DOCTYPE html>
<html
        data-layout-decorate="~{template/page}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
  <title th:text="#{clients.title}">_Clients_</title>
  <link rel="stylesheet" th:href="@{/dist/css/clients-list.bundle.css}"/>
  <script th:inline="javascript">
    window.PAGE = {
      tokenValidity: /*[[${tokenValidity}]]*/ [],
      grantTypes: /*[[${grantTypes}]]*/ [],
      refreshTokenLengths: /*[[${refreshTokenLengths}]]*/ []
    };
  </script>
</head>
<body>
<div id="client-root" layout:fragment="page" style="height: 100%;">
  <!-- Base react component found at : /webapp/resources/js/pages/clients/listing/ClientListingPage.jsx -->
</div>
<th:block layout:fragment="scripts">
  <script th:src="@{/dist/js/clients-list.bundle.js}"></script>
</th:block>
</body>
</html>
